version: '3.8'

services:
  mongodb:
    image: mongo:6
    container_name: taxi-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  driver-service:
    build: ./driver-service
    container_name: driver-service
    ports:
      - "8081:8081"
    depends_on:
      - mongodb
    environment:
      MONGO_URI: "mongodb://mongodb:27017"

volumes:
  mongo-data:
